<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^data/index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /data/index.php [L]
</IfModule>

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Content-Type"
Header set Access-Control-Allow-Methods "GET"