.infinite-scroll-component {
    width: 100%;
}

.notelist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;

    .mdc-card {
        width: 100%;
        max-width: 400px;
        margin: 1rem;

        a{
            text-decoration: none;
            -webkit-appearance: none;
            color: #000;
        }

        .mdc-card__primary-action {
            flex-direction: column;

            .card__header {
                display: flex;
                flex-direction: row;

                .mdc-card__media {
                    width: 90px;
                    height: 90px;
                    background-color: #454545;
                    border-radius: 4px 0 0 0;
                }

                .card__primary {
                    padding: 1rem;

                    h2,
                    h3 {
                        margin: 0;
                    }
                }
            }

            .description{
                padding: 1rem;
            }
        }

        .recharts-responsive-container {
            flex: 1;
        }

        .mdc-card__action-icons{
            .fav_number{
                padding-left: 0;
            }
        }
    }
}